.command-panel{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  .game-options{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .option{
      margin: 0px 5px 0px 5px;

      .text{
        padding-right: 10px;
      }
      .input{
        width: 30px;
        padding-right: 5px;
        text-align: right;
      }
    }
  }

  .new-game{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .new-game-btn {
      box-shadow: inset 0px 1px 0px 0px #d9fbbe;
      background-color: #b8e356;
      border-radius: 20px;
      border: 1px solid #83c41a;
      display: inline-block;
      cursor: pointer;
      font-size: 15px;
      padding: 6px 24px;

      &:hover {
        background-color: #a5cc52;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.flags-left{
  text-align: center;
}